name: CI/CD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Enable pnpm
        run: corepack enable

      - name: Install deps
        run: pnpm install

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to server
        run: |
          echo "${{ secrets.KEY }}" > private_key.pem
          chmod 600 private_key.pem

          ssh -o StrictHostKeyChecking=no -i private_key.pem ${{ secrets.USER }}@${{ secrets.HOST }} << 'EOF'
          export NVM_DIR="$HOME/.nvm"
          source "$NVM_DIR/nvm.sh"

          cd Usta-Go

          pm2 delete UstaGo || true

          git pull origin main

          npm install -g pnpm

          pnpm install
          pnpm run build

          pm2 start dist/main.js --name UstaGo
          pm2 save
          EOF
